#navBar{
    height: 15%;
    width:100% ;
    background-color: rgb(168, 22, 22) ;
    margin-bottom: 20px;
}
body{
    margin: 0px;
    background-color:rgb(211, 183, 134); 
    margin-bottom: 1%;
}
#logo{
    margin-top:0.5%;
    height: 90%;
    width: 4.5%;
    margin-left: 00.5%;

}
.elemento{
    height: 100px;
    width: 100px;
    background-color: rgb(161, 22, 33);
    text-align: center;
    border:2px solid ;
    border-color:  rgb(148, 9, 21);
}
.contenedor{
    
    position: relative;
    display: inline-block;
    bottom:35px
    

}
.contenedor:hover .dropdown-menu {
    display: block;
    
}
.dropdown:hover{
    color:rgb(236, 229, 229);
    background-color: rgb(216, 39, 39);
}
.dropdown{
    font-size:120% ;
    background-color:rgb(168, 20, 25);
    width: 100px;
    height: 30px;
    margin-left: 10%;
    border: none;
}
.dropdown-menu{
    overflow: auto;
    display: none; 
    position: absolute;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: white;
    width: 105px;
    height: auto;
}
#derecha{
    margin-left: -10px;
    margin-right: -50px;
}
.dropdown-item{
    display: block;
    text-decoration: none;
    color:rgb(161, 22, 33);
    padding:10px 20px;

}

.finishline{
   margin-top: 2%;
    bottom: 0%;
    width: 100%;
    margin-bottom: -1%;
    background-color: black;
   color:black;
    display:flex;
padding-bottom: 20px;
height: 5%;
   
}
.finishl{
    color: white;
    margin-bottom:0px;
    margin-right: 35px;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: white;
}

p{
    display: inline-block;
    margin-right: 23px;
    margin-left: 25px;
    margin-top: 1px;
    padding-top:5px ;
  
    background-color:rgb(155, 46, 46);
} 
.contenedor{
    position: relative;
    display: inline-block;
    bottom:35px
}



.imagen{
    display: inline-block;
    margin: 2.5%;
    width: 95%;
    height: 100%;
}
.txtimagen{
display:flex;
color:black;
font-size:110%;
margin: 2%;


}

.imagendisplay{
display:inline-block;
width:20%;
    border-radius: 30px;
background-color:white;
margin-right: 3.5%;
    margin-left: 3.5%;
    margin-top: 2%;
    padding-top:1%;
    width: 26%;
    height: 40%;
    padding-bottom: 14%;
    
}
.titulos{
    font-size: 251%;
    text-align:center;
    
}
